<div class="mt-4 container">
    <h3>Tạo card mới</h3>
    <form method="POST" action="/courses/store">
        <div class="class-form mt-3">
            <label for="name">Tên card</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="class-form mt-3">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="class-form mt-3">
            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" name="image" id="image" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>