<div class="mt-4 container">
    <h3>Chỉnh sửa card</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="class-form mt-3">
            <label for="name">Tên card</label>
            <input type="text" class="form-control" name="name" id="name" value="{{course.name}}">
        </div>
        <div class="class-form mt-3">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" name="description" id="description" value="{{course.description}}">
        </div>
        <div class="class-form mt-3">
            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" name="image" id="image" value="{{course.image}}">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Lưu</button>
    </form>
</div>