<div style="padding: 2rem 20rem;">
    <div class="card container" style="padding: 2rem;">
        <img src="{{course.image}}" class="card-img-top" alt="photo" />
        <div class="card-body">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">{{course.description}}</p> 
        </div>
    </div>
</div>
